<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beeo_scope">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_bioskop"
        android:label="Bioskop RDwika"
        android:roundIcon="@mipmap/launcher_bioskop"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeeOScope">
        <activity
            android:name=".BookingActivity"
            android:label="@string/create_booking"
            android:parentActivityName=".MainActivity"
        android:exported="false" />
        <activity
            android:name=".Basah"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>